/* Whole page */
body {
    background-color: rgba(127, 161, 139, 0.137);
    margin: 2%;
}

.hidden {
    display: none;
}

/* Left side of page */
.left-column {
    float: left;
    width: 50%;
    margin: 3% 0;
    box-sizing: border-box;
}

#left-headers {
    text-align: center;
}

#left-headers p {
    font-style: italic;
    font-size: 100%;
}

#questionnaire li {
    margin-left: -4%;
    font-size: 90%;
}

button {
    color: blue;
    font-weight: bold;
    margin-left: 40%;
    cursor: pointer;
}

/* Right side of page */
.right-column {
    float: left;
    width: 40%;
    margin: 15% 0 15% 6%;
    box-sizing: border-box;
    text-align: left;
}

.right-column h1 {
    text-align: center;
    font-size: 150%;
    margin-left: 0%;
}

.response-gifs {
    width: 70%;
    text-align: center;
    box-sizing: border-box;
    margin-right: 0;
    margin-left: 10%;
}